.resultContainer {
  padding-top: 30px;
  display: flex;
  margin: auto;
  width: 80%;
  height: 100vh;

  // .bookResult ---------------------------
  .bookResult {
    margin-top: 3rem;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    height: 60vh;

    
    
    .bookTopInfo {
      display: flex;
      justify-content: space-evenly;

      .bookInfoDetails {
        border-radius: 2px;
        border: 1px solid #f4e6e8;
        text-align: center;
        width: 15rem;
        height: 3.5rem;
        margin: 100px 15px 0 0;
        box-shadow: -4px 4px 6px #8c8c8c;

        .titleOfBook {
          .eachBookTitle {
            border-radius: 10px;
          }
        }
      }

      .bookImgContainer {
        img {
          width: 13rem;
        }
      }

      .authorAndRating {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.8rem;

        .rating,
        .author {
          margin: 21.28px 0;
          padding: 8px;
          border-radius: 20px;
          box-shadow: -4px 4px 6px #8c8c8c;
        }

        .author {
          background-color: #ace8cd;
        }

        .rating {
          background-color: #f4e6e8;
        }
      }
    }

    .bookBottomInfo {
      .summary {
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        border-radius: 10px;
        margin-top: 15px;
        padding-left: 8px;

        .plot {
          text-decoration: underline;
          text-align: left;
          margin-top: 15px;
        }

        p {
          font-size: 0.8rem;
          text-align: left;
          color: black;
        }
      }
    }
  }

  .bookResult:hover {
    border: 3px solid white;
    text-align: center;
    height: 35rem;
    box-shadow: -12px 10px 6px #8c8c8c;
    cursor: pointer;
  }

  // .movieResult ---------------------------
  .movieResult {
    margin-top: 3rem;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: black;
    height: 60vh;
    

    .movieTopInfo {
      display: flex;
      justify-content: space-evenly;

      .movieInfoDetails {
        border-radius: 2px;
        border: 1px solid #f4e6e8;
        text-align: center;
        width: 15rem;
        height: 3.5rem;
        margin: 100px auto;
        box-shadow: -4px 4px 6px #8c8c8c;

        .titleOfMovie {
          .eachMovieTitle {
            border-radius: 10px;
          }
        }
      }
      .moviePhotoContainer {
        .moviePhoto {
          width: 13rem;
        }
      }

      .authorAndRating {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.9rem;

        .rating,
        .author {
          margin: 21.28px 0;
          padding: 8px;
          border-radius: 20px;
          box-shadow: -4px 4px 6px #8c8c8c;
        }

        .author {
        
          background-color: #ace8cd;
        }

        .rating {
          background-color: #f4e6e8;
        }
      }
    }

    .movieBottomInfo {
      .summary {
        display: flex;
        flex-direction: column;
        background-color: white;
        height: auto;
        border-radius: 10px;
        margin-top: 15px;
        padding-left: 8px;

        .plot {
          text-align: left;
          margin-top: 15px;
          text-decoration: underline;
        }

        p {
          font-size: 0.8rem;
          text-align: left;
          color: black;
        }
      }
    }
  }

  .movieResult:hover {
    border: 3px solid #f4e6e8;
    text-align: center;
    height: 35rem;
    box-shadow: -12px 10px 6px #8c8c8c;
    cursor: pointer;
  }
}

// .vsBannerContainer ----
.vsBannerContainer {
  width: 20%;
  align-items: center;
  margin: auto;
  .vsBanner {
    font-size: 3rem;
    font-family: 'Maitree', serif;
    text-shadow: -4px 4px 6px black;
    padding-bottom: 200px;
  }
}
