input {
  border-radius: 33px;
  height: 2rem;
  width: 20rem;
  padding-left: 20px;
  font-size: 1.2rem;
}

button {
  background-color: #fff;
  border-radius: 33px;
  margin: 30px 8px;
  padding: 3.5px 8px;
  font-size: 1.1rem;
}
