html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Maitree";
  src: url(https://fonts.googleapis.com/css2?family=Maitree:wght@400;700&display=swap);
}
.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

body {
  text-align: center;
  font-family: "Maitree";
  background-image: url("../Assets/bookOrMovie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: rgba(48, 44, 44, 0.8);
  height: 10%;
}

main {
  background-color: rgba(48, 44, 44, 0.8);
  padding-top: 20px;
  height: 90%;
}

h1,
h2,
h3,
p,
button,
input {
  font-family: "Maitree", serif;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  margin: 0px;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 30px;
}

h3 {
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
  padding: 5px 4px;
}

.resultContainer {
  padding-top: 30px;
  display: flex;
  margin: auto;
  width: 80%;
  height: 100vh;
}
.resultContainer .bookResult {
  margin-top: 3rem;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  height: 60vh;
}
.resultContainer .bookResult .bookTopInfo {
  display: flex;
  justify-content: space-evenly;
}
.resultContainer .bookResult .bookTopInfo .bookInfoDetails {
  border-radius: 2px;
  border: 1px solid #f4e6e8;
  text-align: center;
  width: 15rem;
  height: 3.5rem;
  margin: 100px 15px 0 0;
  box-shadow: -4px 4px 6px #8c8c8c;
}
.resultContainer .bookResult .bookTopInfo .bookInfoDetails .titleOfBook .eachBookTitle {
  border-radius: 10px;
}
.resultContainer .bookResult .bookTopInfo .bookImgContainer img {
  width: 13rem;
}
.resultContainer .bookResult .bookTopInfo .authorAndRating {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
}
.resultContainer .bookResult .bookTopInfo .authorAndRating .rating,
.resultContainer .bookResult .bookTopInfo .authorAndRating .author {
  margin: 21.28px 0;
  padding: 8px;
  border-radius: 20px;
  box-shadow: -4px 4px 6px #8c8c8c;
}
.resultContainer .bookResult .bookTopInfo .authorAndRating .author {
  background-color: #ace8cd;
}
.resultContainer .bookResult .bookTopInfo .authorAndRating .rating {
  background-color: #f4e6e8;
}
.resultContainer .bookResult .bookBottomInfo .summary {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}
.resultContainer .bookResult .bookBottomInfo .summary .plot {
  text-decoration: underline;
  text-align: left;
  margin-top: 15px;
}
.resultContainer .bookResult .bookBottomInfo .summary p {
  font-size: 0.9rem;
  text-align: left;
  color: black;
}
.resultContainer .bookResult:hover {
  border: 3px solid white;
  text-align: center;
  height: 35rem;
  box-shadow: -12px 10px 6px #8c8c8c;
  cursor: pointer;
}
.resultContainer .movieResult {
  margin-top: 3rem;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: black;
  height: 60vh;
}
.resultContainer .movieResult .movieTopInfo {
  display: flex;
  justify-content: space-evenly;
}
.resultContainer .movieResult .movieTopInfo .movieInfoDetails {
  border-radius: 2px;
  border: 1px solid #f4e6e8;
  text-align: center;
  width: 15rem;
  height: 3.5rem;
  margin: 100px auto;
  box-shadow: -4px 4px 6px #8c8c8c;
}
.resultContainer .movieResult .movieTopInfo .movieInfoDetails .titleOfMovie .eachMovieTitle {
  border-radius: 10px;
}
.resultContainer .movieResult .movieTopInfo .moviePhotoContainer .moviePhoto {
  width: 13rem;
}
.resultContainer .movieResult .movieTopInfo .authorAndRating {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.9rem;
}
.resultContainer .movieResult .movieTopInfo .authorAndRating .rating,
.resultContainer .movieResult .movieTopInfo .authorAndRating .author {
  margin: 21.28px 0;
  padding: 8px;
  border-radius: 20px;
  box-shadow: -4px 4px 6px #8c8c8c;
}
.resultContainer .movieResult .movieTopInfo .authorAndRating .author {
  background-color: #ace8cd;
}
.resultContainer .movieResult .movieTopInfo .authorAndRating .rating {
  background-color: #f4e6e8;
}
.resultContainer .movieResult .movieBottomInfo .summary {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
}
.resultContainer .movieResult .movieBottomInfo .summary .plot {
  text-align: left;
  margin-top: 15px;
  text-decoration: underline;
}
.resultContainer .movieResult .movieBottomInfo .summary p {
  font-size: 0.9rem;
  text-align: left;
  color: black;
}
.resultContainer .movieResult:hover {
  border: 3px solid #f4e6e8;
  text-align: center;
  height: 35rem;
  box-shadow: -12px 10px 6px #8c8c8c;
  cursor: pointer;
}

.vsBannerContainer {
  width: 20%;
  align-items: center;
  margin: auto;
}
.vsBannerContainer .vsBanner {
  font-size: 3rem;
  font-family: "Maitree", serif;
  text-shadow: -4px 4px 6px black;
  padding-bottom: 200px;
}

.searchBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.searchBox input {
  background-color: white;
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  opacity: 0;
  border-radius: 40px;
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  transition: all 1s;
  letter-spacing: 1px;
}

.searchBox input::-moz-placeholder {
  color: black;
  font-weight: 400;
}

.searchBox input::placeholder {
  color: black;
  font-weight: 400;
}

.searchBox i {
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  padding-right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 10px;
}

.searchBox:hover input {
  width: 240px;
  opacity: 1;
  padding: 10px 20px;
  color: black;
}

.searchBox:hover i {
  color: black;
}

button {
  background-color: white;
  padding: 5px 1px;
  margin-top: 50px;
  border-radius: 50%;
  border: none;
  margin-left: 1rem;
}

.movieImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 100px;
  margin: 10px 5px;
}

.movieList {
  margin-top: 5rem;
  border: 1px solid #f4e6e8;
  text-align: center;
  width: 15rem;
  height: 22rem;
  box-shadow: -4px 4px 6px #8C8C8C;
}

.movieList:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.movieImg {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.movieTitle {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=styles.css.map */